.SearchBar_input {
    border-radius:4px;
    width:600px;
    height:51px;
    border: none;
    font-family:SourceSansPro-Regular;
    font-size:15px;
    color:rgba(123,123,123,0.78);
    letter-spacing:0;
    line-height:31px;
    text-align:left;
}       