.ProductList {
    flex: 3;
}

.ProductList_title {
    margin-left: 18px;
    margin-top: 15px;
}

.ProductList_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0px;
    width: 1000px;
}

.ProductList_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    width: 200px;
    border-radius:4px;
    font-family:SourceSansPro-Regular;
    font-size:15px;
    border: none;
    box-shadow:0 4px 14px rgba(123,123,123,0.3); 
    margin: 20px 20px 20px 20px; 
    padding: 10px 0px; 
    text-align: center;
}

.ProductList_item:hover {
    border: 1px solid #f8cb00;
    height: 318px;
    width: 198px;
    cursor: pointer;
}

.ItemDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 800px;
    border-radius:4px;
    font-family:SourceSansPro-Regular;
    font-size:15px;
    padding: 30px 20px;
}

.ItemDetail_left {
    margin: 15px;
    align-self: center;
}

.ItemDetail_right {
    margin: 15px;
}

.ItemDetail_price {
    color: #f8cb00;
}

.ItemDetail_top {
    align-self: flex-end;
}

.ItemDetail_bottom {
    display: flex;
    flex-direction: row;
}

.ItemDetail_icon {
    margin-right: 15px;
}

.ItemDetail_icon:hover {
    color: rgba(123,123,123,1) ;
}

.RelatedProduct {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius:4px;
    font-family:SourceSansPro-Regular;
    font-size:15px;
    border: none;
    max-width: 250px;
    box-shadow:0 4px 14px rgba(123,123,123,0.3); 
    margin: 5px 0px;
    padding: 5px 0px;
}

.RelatedProduct:hover {
    border: 1px solid #f8cb00;
    width: 248px;
    height: 78px;
    cursor: pointer;
}

.RelatedProduct_image {
    height: 80px;
}

#related_title {
    margin-bottom: 10px;
}


